.onboarding-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #f9f9f9;
}

.logo-wrap {
    display: flex;
    /* background-color: #f9f9f9; */
    background-color: transparent;
    position: absolute;
    flex-direction: row;
    justify-content: left;
    padding: 20px;
    margin-bottom: 0;
    height: 100px;
}


.logo-wrap img {
    width: 58px;
}

.logo-wrap span {
    margin: auto 1em;
    color: #1363ff;
    font-weight: 800;
}

@media (max-width: 768px) {
    .onboarding-wrapper .logo-wrap {
        display: none;
    }
}