/* verify email section */
.code {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.code input {
    width: 80px;
    height: 80px;
    outline: none;
    border: 1px solid #c5d8ff;
    background-color: #fff;
    border-radius: 10px;
    color: #979797;
    font-size: 2em;
    font-weight: 800;
}
.verify {
    text-align: center;
    width: 400px;
    margin: 50%;
}
.verify form {
    border: none;
}
.verify p {
    width: 100%;
    font-size: 0.8em;
    margin-bottom: 0.3em;
}
.primary_text {
    color: #1363FF;
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 0.8em;
}
.verify .btn {
    width: 100%;
    margin: 0;
    margin-top: 2em;
}
/* modal section */
/* .modal_content_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 1em;
    height: 500px !important;
} */
.modal_content_wrap img {
    width: 100px;
}
.modal_content_wrap h2 {
    color: #1363ff;
    font-weight: 800;
    font-size: 2.2em;
    margin-top: 1em;
}
.modal_content_wrap button {
    width: 90%;
    margin-left: 0%;
}
.ReactModal__Content .ReactModal__Content--after-open {
    height: 55vh !important;
}


/* collect data section */
#collect_data form {
    border: none;
}
.next_btn {
    width: 90%;
    margin-left: 0%;
    margin-top: 1em;
}

.css-1hv8oq8-MuiStepLabel-label {
    display: none !important;
}
.css-117w1su-MuiStepIcon-text {
    display: none !important;
}
.css-m5vj9m-MuiStepper-root {
    margin-bottom: 5em;
}