.top-movers {
    margin-top: 3em;
}

.movers-header {
    text-align: left;
    font-size: 0.9em;
    color: #263238;
    font-weight: 600;
}
.movers {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 0.8em;

}
.mover {
    padding: 20px;
    border: 0.8px solid #c5d8ff;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.mover .company {
    display: flex;
    gap: 4px;
}
.mover img {
    width: 40px;
    height: 40px;
}
.mover .logo {
    border: 0.8px solid #c5d8ff;
    border-radius: 6px;
    height: 60px;
    width: 60px;
    padding: 10px;
}

.mover h4 {
    font-size: 17px;
    text-transform: capitalize;
    color: #272728;
    text-align: left;
}

.mover p {
    font-size: 10px;
    color: #464646;
    text-transform: lowercase;
    text-align: left;
    text-overflow: ellipsis;
}

.mover h5 {
    margin: 1em;
    font-size: 16px;
}

.arrow {
    background-color: #17df4d;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}

.arrow svg {
    width: 17px;
    height: 17px;
}

.mover .percentage {
    font-size: 17px;
    color: #17df4d;
    font-weight: 600;
    margin: 0;

}

.margin {
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 1em;
    gap: 5px;
}

