#stock-documents {
    margin: 2.5em 0;
}

#stock-documents h4 {
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    text-align: left;
    text-transform: capitalize;
    color: #bbb;
};


#stock-documents div h6 {
    color: #1363ff;
    font-size: 0.8em;
    background-color: #c5d8ff;
    text-align: left;
    padding: 15px 15px;
    width: 20em; 
}
.document svg {
    width: 10px;
    height: 10px;
    float: right;
}

.doc {
    color: #1363ff !important;
    font-size: 0.8em;
    background-color: #c5d8ff;
    text-align: left;
    padding: 15px 15px;
    width: 15em; 
}

.doc svg {
    width: 10px;
    height: 10px;
    float: right;
}