#list-stock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    /* padding: 20px 30px; */
    /* height: 100vh; */
}

#list-stock .section {
    width: 48%;
    height: 100%;
    text-align: left;
}

.list-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    text-transform: capitalize;
    color: #464646;
}

#list-stock h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    text-transform: capitalize;
    color: #464646;
}

#list-stock h5 {
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    text-align: left;    
    color: #464646;
}

#list-stock .filled, .list-button{
    padding: 10px 20px;
    width: 14em;
    margin: 0.5em;
    background-color: #1363ff;
    color: #fff;
    outline: none;
    border: none;
    font-size: 13px;
    border-radius: 4px;
}

.list-button {
    margin: 2em 0;
    align-self: center;
}
.list-button-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}
#list-stock .filled svg, #list-stock .outlined svg {
    margin: 0 1em 0.5em 1em;
}

#list-stock .outlined{
    font-size: 13px;
    padding: 10px 20px;
    width: 14em;
    margin: 0.5em;
    background-color: #fff;
    color: #1363ff;
    outline: none;
    border: 1px solid #1363ff;
    border-radius: 4px;
}

@media (max-width: 820px) {
    #list-stock {
        flex-wrap: wrap;
    }

    #list-stock .section {
        width: 100%;
        /* margin-bottom: 55em; */
    }
}