.calculator {
    width: 60%;
}

.calculator .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 padding: 20px;
    height: 150px;
    background-color: #1363ff;
    border-radius: 10px;
    width: 100%;
    margin-top: 3em;
    background-image: url(../../assets/briefcase.png);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.calculator h2 {
    color: white;
    font-size: 28px;
    font-weight: 800;
    text-transform: capitalize;
    margin: 0;
}

.calculator .header p {
    color: white;
    font-size: 12px;
    font-weight: lighter;
    margin: 0;
}