.logo-wrap {
    display: flex;
    background-color: transparent;
    flex-direction: row;
    justify-content: left;
    padding: 0 8px;
    margin-bottom: 0;
    height: 80px;
}

.logo-wrap span {
    margin: 0 0.5em;
    color: #1363ff;
    font-weight: 800;
}