.stocks {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    overflow-x: auto;
    padding-bottom: 0.8em;
}

.stocks:hover {
    cursor: all-scroll;
}

.stocks .stock {
    padding: 20px;
    border: 0.8px solid #c5d8ff;
    border-radius: 8px;
    width: 250px;
    height: 300px;
    position: relative;
    margin: 0 0.8em 0 0;
    flex-shrink: 0;
}

.stocks .stock h3 {
    font-weight: 500;
    font-size: 17px;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
    color: #272728;
    text-overflow: ellipsis;
    margin: 0;
}

.stocks .stock .name {
    margin: 0.8em 0;
}

.stocks .stock  .company-logo {
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 1px solid #c5d8ff;
    border-radius: 5px;
}

.stocks .stock  .company {
    font-weight: 400;
    font-size: 11px;
    text-overflow: ellipsis;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #464646;
    /* margin: 0.8em 0; */
    
}

.stocks .stock .price {
    color: #263238;
}

.stocks .stock .list {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.stocks .stock .percent {
    font-weight: 500;
    font-size: 31.9236px;
    line-height: 32px;
    text-align: center;
    text-transform: capitalize;
    color: #17DF4D;
}

.stocks .stock .small_text {
    font-weight: 500;
    font-size: 10px;
    /* text-align: center; */
    text-transform: capitalize;
    color: #979797;
}

.stocks .stock button {
    justify-content: flex-end;
    align-items: center;
    padding: 12px 50px;
    gap: 10px;
    background: #1363FF;
    border: 0.8px solid #1363FF;
    border-radius: 5px;
    font-size: 10px;
    color: #fff;
    align-items: baseline;
    border: none;
    position: absolute;
    bottom: 10px;
}

@media (max-width: 850px) {
    .stocks {
        display: -webkit-box;
        overflow-x: auto;
    }

    .stocks .stock {
        width: 220px;
    }
}