#signin,
#register {
    font-family: 'Metropolis';
    margin: auto;
}

#signin .heading,
#register .heading {
    margin-bottom: -0.2em;
    font-size: 32px;
}

#signin .subtitle,
#register .subtitle {
    margin-bottom: 3em;
    font-size: 1em;
    line-height: 16px;
    font-weight: 300;
}

.signin,
.register {
    width: 470px;
}

label {
    text-align: left;
    margin-bottom: -1em;
    color: #464646;
    font-size: 0.8em;
    margin-left: 5%;

}

.input_wrap {
    display: flex;
    flex-direction: column;
}

#signin input[type=email],
#register input[type=email] {
    border: 3px solid #C5D8FF;
    height: 3.5em;
    border-radius: 10px;
    width: 90%;
    margin-bottom: 1em;
    padding-left: 1em;
    margin-left: 5%;
}

input[type=tel] {
    font-weight: 800;
    letter-spacing: 0.4em;
}

input {
    padding-left: 1em;
}

::-webkit-input-placeholder {
    color: #979797;
    font-size: 0.7em;
    padding-left: -5em;
}

.btn_group {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btn_group button {
    width: 90%;
    border: 1px solid #C5D8FF;
    height: 3.5em;
    margin-bottom: 1em;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 5%;
}

.btn_group span img {
    margin-right: 2em;
    margin-left: -5em;
    width: 1em;
}

.btn_group span {
    color: #464646;
    font-size: 0.8em;
    font-weight: lighter;
    margin-left: 3em;

}

#signin_btn,
#register_btn {
    margin-left: 0;
    width: 90%;
    margin-bottom: 1.4em;
    background-color: #1363FF;
    color: #fff;
}

.access_wrap {
    display: flex;
    justify-content: center;
    font-size: 1em;
}

.link {
    color: #1363FF;
    text-decoration: none;
}

.capitalize {
    text-transform: capitalize;
}

.access {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 2em;
    width: 80%;
    font-size: 1em;
}

.access span {
    color: #979797;
    font-size: 1em;
    text-align: center;
    margin: auto;
}

#active {
    color: #1363FF;
    border-bottom: 3px solid #1363FF;
    width: 55%;
    margin: 0;
}

#inactive {
    color: #979797;
}

#signin form,
#register form {
    border: 1.17412px solid #C5D8FF;
    padding: 40px 20px;
    border-radius: 10px;

    /* margin-left: 0; */

}

#signin form a {
    text-decoration: none;
}

.register_link {
    color: #64748B;
    margin-top: 2em;
    font-size: 0.8em;
}



#signin form .phone_link span:hover {
    cursor: pointer;
}

/* phone section */
.phone_wrap {
    border: 1px solid #C5D8FF;
    border-radius: 10px;
    height: 3.8em;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-left: 1em;
    text-align: left;
    color: #1A1A1B;
    font-weight: bold;
}

.phone_wrap span {
    color: #1A1A1B;
    font-weight: 300;
    /* padding-top: 1em; */
}

.phone_wrap input {
    border: none;
    outline: none;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid #979797;
    padding-left: 1em;

}

/* mobile design */
@media (max-width:1400px) {

    /* .building .bg {
        width: 100%;
        height: 100vh;
    } */
    #signin,
    #register {
        margin: 0;
    }

}
@media (max-width: 1370px) {
    #register .verify {
        margin: 50% 30%;
    }
}
@media (max-width: 1250px) {
    #register .verify {
        margin: 50% 15%;
    }
}
@media (max-width: 1200px) {
    #register .verify {
        margin: 50% 5%;
    }
}
@media (max-width: 1140px) {
    /* #register .verify {
        margin: 50% 8%;
    } */
    #register .verify {
        margin: 50% auto;
        padding: 0em 0.5em;
    }
}
@media (max-width: 950px) {

    .signin_wrap .logo_wrap,
    .register_wrap .logo_wrap,
    .fp_wrap .logo_wrap {
        display: none;
    }

    #signin,
    #register {
        margin: auto;
    }

    #signin .mini_container,
    #register .mini_container {
        margin-left: 0;
    }

    #register .verify {
        margin: 0em;
    }

    #signin .signin,
    #register .register {
        width: 550px;
    }

    .heading {
        margin-top: -4%;
    }

    #register form {
        margin-bottom: 2em;
    }

    .register_link {
        margin-bottom: 2em;
    }
}

@media (max-width: 640px) {
    #register .register_link {
        margin-top: 0em;
    }
    #signin .heading,
    #register .heading {
        margin-top: 27%;
    }

    .signin_wrap,
    .register_wrap {
        width: 100%;
        margin: 0;
    }

    #signin .signin,
    #register .register {
        width: 447px;
    }

    form {
        width: auto;
    }

    #signin .wrapper,
    #register .wrapper {
        margin-left: 0.5em;
    }

    #signin .btn_group button,
    #register .btn_group button {
        width: 91%;
        margin-left: 5%;
    }
}

@media (max-width:550px) {

    #signin .btn_group span img,
    #register .btn_group span img {
        margin-right: 1em;
        margin-left: -3em;
    }

    .signin_wrap .building,
    .register_wrap .building {
        display: none;
    }

    #signin .heading,
    #register .heading {
        font-size: 25px;
        margin-top: 19%;
    }

    #signin form,
    #register form {
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: -2.5%;
    }

    #signin .register_link {
        margin-left: -4%;
    }

    #signin {

        justify-content: left;
        display: contents;
    }

    #register .verify {
        margin-top: 45%;
    }

    /* .code input {
        width: 55px;
        height: 55px;
        font-size: 1.5em;
    } */

    .verify input {
        padding-left: 0.8em;
    }
    .verify {
        width: 300px;
    }

    .verify .code input {
        width: 55px;
        height: 55px;
        font-size: 1.5em;
    }

    .verify .code {
        justify-content: space-evenly;
    }

    #signin .heading,
    #register .heading {
        margin-left: -23%;
        font-size: 29px;
    }

    #register .heading {
        margin-left: -17%;
    }

    #signin .subtitle,
    #register .subtitle {
        margin-bottom: 1.8em;
        font-size: 18px;
        line-height: 16px;
        font-weight: 300;
        margin-left: -31%;
        font-weight: 700;
    }

    #register .subtitle {
        margin-left: -36%;
    }

    #signin .access_wrap,
    #register .access_wrap {
        display: flex;
        justify-content: center;
        width: 106%;
        margin-bottom: -1em;
        margin-left: -2.5%;
    }

    #signin input[type=email],
    #register input[type=email] {
        width: 95%;
    }

    #signin .phone_wrap,
    #register .phone_wrap {
        width: 95%;
    }

    #signin .btn_group button,
    #register .btn_group button {
        width: 95%;
    }

    #signin_btn,
    #register_btn {
        margin-left: 5%;
        width: 95%;
    }
}

@media (max-width: 500px) {
    /* #signin .wrapper {
        position: absolute;
        bottom: 0; 
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh;
    }
    #signin .heading, #signin .subtitle {
        margin-left: -1em;
    }
    #signin form {
        border: none;
        margin-left: -2.7em;
    }
    #signin input[type=email] {
        width: 110%;
    }
    #signin .btn_group button {
        width: 100%;
    }
    #signin_btn {
        margin-left: 2em;
        
    }
    #signin .phone_wrap input {
        width: 69%;
    }
    #signin .phone_wrap {
        width: 100%;
    } */
}

@media (max-width: 450px) {

    #signin .heading,
    #register .heading {
        margin-left: -40%;
        margin-top: -6%;
        font-size: 25px;
    }
    #register .heading {
        margin-left: -35%;
    }
    #signin .subtitle,
    #register .subtitle {
        font-size: 16px;
        margin-left: -46%;
    }
    #register .subtitle {
        margin-left: -51%;
    }
    #signin label,
    #register label {

        font-size: 0.8em;
        margin-left: 0%;
    }

    #signin .access_wrap,
    #register .access_wrap {
        width: 102%;
        margin-left: -6%;
    }

    #signin .access span,
    #register .access span {

        font-size: 1em;

    }

    #signin input[type=email],
    #register input[type=email] {
        width: 91%;
        height: 3.5em;
        margin-left: 0%;
        margin-bottom: -0.5em;
    }

    #signin .phone_wrap,
    #register .phone_wrap {
        width: 90%;
        margin-left: 0%;

    }

    #signin_btn,
    #register_btn {
        margin-left: -9%;
        width: 91%;
        height: 3.5em;
        font-size: 0.8em;
    }

    #signin .btn_group button,
    #register .btn_group button {
        width: 89%;
        font-size: 0.8em;
    }

    #signin .btn_group button,
    #register .btn_group button {
        width: 91%;
        margin-left: 0%;
    }

    #signin form a,
    #register form a {
        font-size: 0.8em;
        /* margin-left: -10%; */
    }

    #signin .register_link,
    #register .register_link {
        font-size: 0.8em;
        margin-left: -10%;
    }

}

@media (max-width: 400px) {
    #register .register_link {
        margin-top: -1em;
    }
    #signin .mini_container,
    #register .mini_container {
        margin-left: -20px;
    }

    #signin .heading,
    #register .heading {
        margin-left: -43%;
        font-size: 23px;
    }
    #register .heading {
        margin-left: -42%;
    }
    
    #signin .subtitle,
    #register .subtitle {
        font-size: 14px;
        margin-left: -50%;
    }
    #register .subtitle {
        margin-left: -59%;
    }

    #signin label,
    #register label {

        font-size: 0.8em;
        margin-left: 0%;
    }

    #signin .access,
    #register .access {
        width: 72%;
        margin-left: -10%;

    }
    
    #signin input[type=email],
    #register input[type=email] {
        width: 81%;
        height: 3.5em;
        margin-left: 0%;
    }

    #signin .phone_wrap,
    #register .phone_wrap {
        width: 90%;
        margin-left: -0.5%;

    }

    #signin_btn,
    #register_btn {
        margin-left: -20%;
        width: 81%;
    }

    #signin .btn_group button,
    #register .btn_group button {
        width: 81%;

    }

    #signin form a,
    #signin .register_link,
    #register form a,
    #register .register_link {
        margin-left: -20%;
    }
    #register .verify .btn {
        width: 80%;
        margin: 0;
        margin-left: -5%;
        margin-top: 2em;
    }
    #register .verify {
        width: 300px;
    }
    #register .verify a {
        margin: 0em;
    }
}

@media (max-width: 350px) {

    #signin .access,
    #register .access {
        width: 63%;
        margin-left: -20%;
    }

    #signin input[type=email],
    #register input[type=email] {
        width: 71%;
        height: 3.3em;
    }

    #signin_btn,
    #register_btn {
        margin-left: -29%;
        width: 71%;
    }

    #signin .btn_group button,
    #register .btn_group button {
        width: 71%;
    }

    #signin form a,
    #register form a,
    #signin .register_link,
    #register .register_link {
        margin-left: -26%;
    }
}