.code {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.code input {
    width: 50px;
    height: 50px;
    outline: none;
    border: 1px solid #c5d8ff;
    background-color: #fff;
    border-radius: 10px;
    color: #979797;
    font-size: 2em;
    font-weight: 800;
    margin: 0;
    margin-inline: 20px;
    padding-left: 10px;
}

.request {
    font-size: 0.8em;
    margin-bottom: 1em;
}

@media (max-width: 520px) {
    #registerpage p {
        text-align: left;
        font-size: 0.9em;
    }
    .code {
        justify-content: start;
    }
}
