.stockofthemonth {
    margin: 2em 0;
}

.stockofthemonth p {
    text-align: left;
    font-size: 0.9em;
    color: #263238;
    font-weight: 600;
   text-transform: capitalize;
}

.stock {}

.stock h3 {
    font-weight: 500;
    font-size: 35px;
    line-height: 35px;
    /* identical to box height */

    text-align: center;
    text-transform: capitalize;

    color: #263238;

}

.stock p {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;
    text-transform: capitalize;

    color: #464646;
}


.stock img {
    height: 250px;
    width: 100%;
}

.stock .company {
    display: flex;
    gap: 4px;
}
.stock .company img {
    width: 40px;
    height: 40px;
}
.stock .company .logo {
    border: 0.8px solid #c5d8ff;
    border-radius: 6px;
    height: 60px;
    width: 60px;
    padding: 10px;
}

.stock .company h4 {
    font-size: 15px;
    text-transform: capitalize;
    color: #272728;
    text-align: left;
}

.stock .company p {
    font-size: 10px;
    color: #464646;
    text-align: left;
}